{% if settings.display_vendor %}
  <p itemprop="brand" class="brand">{{ product.vendor }}</p>
{% endif %}
<div class="product-details" style="display: flex">
  {% if settings.enable_shopify_collection_badges %}
    <div class="shopify-reviews reviewsVisibility--{{settings.enable_shopify_review_comments}}">
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </div>
  {% endif %}


<div class="w70">
  <span class="title" itemprop="name">{{ product.title }}</span>
  <div class="left-infos">
    {% if collection_handles contains 'coming-soon' %}
      <span class="modal_price">{{ 'collections.general.coming_soon' | t }}</span>
    {% else %}
      <span class="price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
        {% if product.available %}
          {% if product.price_varies and product.price_min > 0 %}
            <small><em>{{ 'products.general.from' | t }}</em></small>
          {% endif %}
            {% if product.price_min > 0 %}
              <span class="money">{{ product.price_min | money }}</span>
            {% else %}
              {{ settings.free_price_text }}
            {% endif %}
        {% else %}
          <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
        {% endif %}
        {% if product.compare_at_price_max > product.price %}
          <span class="was_price">
            <span class="money">{{ product.compare_at_price_max | money }}</span>
          </span>
        {% endif %}
      </span>
      <span class="price-by">
        {% if product.selected_or_first_available_variant.unit_price_measurement %}
          {{ product.selected_or_first_available_variant.unit_price | money }}
          {% if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 %}
            {{ product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
          {% endif %}/
          <span>{{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}</span>
        {% else %}
          {% for tag in product.tags %}
            {% if tag contains '€' %}
              {{ tag }}
            {% endif %}
          {% endfor %}
        {% endif %}
      </span>
    {% endif %}
  </div>
</div>
{% include 'product-loop-form' with 'product' %}




</div>
