{% comment %}
** Cart page - default view **
- Template section
{% endcomment %}
<div class="container main content">
<a name="pagecontent" id="pagecontent"></a>

<div class="section clearfix">
  <div class="sixteen columns">
    <h1>{{ 'cart.general.title' | t }}</h1>
    <div class="feature_divider"></div>
  </div>
</div>

{% if cart.item_count == 0 %}
  <div class="sixteen columns">
    <div class="section clearfix">
      <div class="six columns offset-by-five medium-down--one-whole">
        <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>

        <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}" class="action_button continue-button add_to_cart">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
      </div>
      <br class="clear" />
    </div>
  </div>
{% else %}

  <form action="/cart" method="post" id="cart_form">
{% comment %}checkout[shipping_address][address1]=Place+de+la+nouvelle+aventure&checkout[shipping_address][address2]=&checkout[shipping_address][city]=Lille&checkout[shipping_address][company]=Boucherie+Jean-Claude%2C+halles+de+Wazemmes+%28+mercredi+%29&checkout[shipping_address][country]=France&checkout[shipping_address][province]=&checkout[shipping_address][zip]=59000&discount=&locale=fr-CA&method=pickup&step=contact_information{% endcomment %}
    <input type="hidden" name="checkout[shipping_address][address1]" id="addr1" >
    <input type="hidden" name="checkout[shipping_address][address2]" id="addr2">
    <input type="hidden" name="checkout[shipping_address][city]" id="city" value="">
    <input type="hidden" name="checkout[shipping_address][zip]" id="zip" value="">
    <input type="hidden" name="checkout[shipping_address][company]" id="company" value="">
    <input type="hidden" name="locale" id="locale" value="">
    <input type="hidden" name="checkout[shipping_address][province]" id="province" value="">
    <input type="hidden" name="attributes[Checkout-Method]" id="method" value="delivery">
    <input type="hidden" name="checkout[shipping_address][country]" id="country" value="France">
    <input type="hidden" name="step" id="contact_info" value="contact_information">
    <input type="hidden" name="custom_attribute_1" id="custom_attribute_1" value="">






    <div class="section clearfix panier">
      <div class="eleven columns medium-down--one-whole">
        {% assign total_saving = 0 %}
        {% for item in cart.items %}
          {% if item.variant.compare_at_price > item.variant.price %}
            {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
            {% assign total_saving = saving | plus: total_saving %}
          {% endif %}


        <div class="section clearfix cart_item_cart products-list-mobile">
          <div class="product-details-mobile">


          <div class="five columns alpha buy_section product-image-mobile">
          	<a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
             {% include 'image-element', image: item, alt: item.title, object_fit: settings.align_height, max_height: settings.collection_height %}
            </a>
          </div>

          <div class="eleven columns omega cart_content_info">
                <h3>
                  <a href="{{ item.url }}">{{ item.product.title }}</a>
                </h3>
                <p class="modal_price left">
                  {% if item.price > 0 %}
                    <span class="money">{{ item.price | money }}</span>
                  {% else %}
                    {{ settings.free_price_text }}
                  {% endif %}

                  {% if item.price < item.variant.compare_at_price %}
                    <span class="money was_price">{{ item.variant.compare_at_price | money }}</span>
                  {% endif %}
                </p>



                {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                  <p class="meta">
                    {% for option in item.product.options %}
                      <span class="label">{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span><br />
                    {% endfor %}
                  </p>
                {% endunless %}

                {% if item.properties %}
                  <span>
                    {% for p in item.properties %}
                      <!-- Zapiet | Store Pickup + Delivery -->
                      {% unless p.first contains 'Zapiet' %}
                      <!-- Zapiet | Store Pickup + Delivery -->
                        {% if p.last contains '/uploads/' %}
                          <div>
                            {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a>
                          </div>
                        {% else %}
                          <div>
                            {{ p.first }}: {{ p.last }}
                          </div>
                        {% endif %}
                      {% endunless %}
                    {% endfor %}
                  </span>
                {% endif %}

              </div>

          <div class="flex boutons-quantite-mobile">
             <div class="product-quantity-box right">
               <span class="ss-icon product-minus js-change-quantity" data-idx="{{forloop.index}}" data-variant_id="{{item.variant.id}}" data-func="minus"><span class="text">-</span></span>
               <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}"  value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %} />
               <span class="ss-icon product-plus js-change-quantity" data-variant_id="{{item.variant.id}}" data-idx="{{forloop.index}}" data-func="plus"><span class="text">+</span></span>
            </div>
          </div>

        </div>

        </div>













          <div class="section clearfix cart_item_cart product-list-desktop">
            <div class="five columns alpha buy_section">
              <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
                {% include 'image-element', image: item, alt: item.title, object_fit: settings.align_height, max_height: settings.collection_height %}
              </a>
            </div>

            <div class="eleven columns omega cart_content_info">
              <h3>
                <a href="{{ item.url }}">{{ item.product.title }}</a>
              </h3>
              <p class="modal_price left">
                {% if item.price > 0 %}
                  <span class="money">{{ item.price | money }}</span>
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}
                {% if item.price < item.variant.compare_at_price %}
                  <span class="money was_price">{{ item.variant.compare_at_price | money }}</span>
                {% endif %}
              </p>

              {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                <p class="meta">
                  {% for option in item.product.options %}
                    <span class="label">{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span><br />
                  {% endfor %}
                </p>
              {% endunless %}

              {% if item.properties %}
                <p>
                  {% for p in item.properties %}
                    <!-- Zapiet | Store Pickup + Delivery -->
                    {% unless p.first contains 'Zapiet' %}

<!-- Zapiet | Store Pickup + Delivery -->
                      {% if p.last contains '/uploads/' %}
                        <div>
                          {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a>
                        </div>
                      {% else %}
                        <div>
                          {{ p.first }}: {{ p.last }}
                        </div>
                      {% endif %}
                    {% endunless %}


                  {% endfor %}
                </p>
              {% endif %}
              <div class="flex">

                <p class="modal_price left">

                </p>
                <div class="product-quantity-box left">
                  <span class="ss-icon product-minus js-change-quantity" data-idx="{{forloop.index}}" data-variant_id="{{item.variant.id}}" data-func="minus"><span class="text">-</span></span>
                  <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}"  value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %} />
                  <span class="ss-icon product-plus js-change-quantity" data-variant_id="{{item.variant.id}}" data-idx="{{forloop.index}}" data-func="plus"><span class="text">+</span></span>
                </div>


              </div>
            </div>
          </div>








        {% endfor %}
      </div>

      <div class="five columns medium-down--one-whole buy_section">
        <div class="section clearfix">
          {% assign vendors = "" | split: ',' %}

          {% for item in cart.items %}
           {% assign vendor = item.vendor | split: ',' %}
           {% assign vendors = vendors | concat: vendor %}
           {% assign vendors = vendors | uniq %}
           {% if item.variant.compare_at_price > item.variant.price %}
             {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
             {% assign total_saving = saving | plus: total_saving %}
           {% endif %}
          {% endfor %}





          <div class="subtotal">
            <div class="producteurs">
            <p class="help_provider">Grâce à vous, <b><span class="how_many">{{ vendors.size }}</span> producteur<span class="pluriel">{% if vendors.size != 1 %}s{% endif %}</span> soutenu{% if vendors.size != 1 %}s{% endif %}.</b></p>

            </div>

            <hr style="border-color: #cccccc;
    border-width: 1px !important;
    border-bottom-width: 0px !important;">
            <p class="cart_subtotal js-cart_subtotal">
              <span class="right">
                <span class="money">{{ cart.total_price | money }}</span>
              </span>
              <span>{{ 'cart.general.subtotal' | t }}</span>
            </p>
                    <hr style="border-color: #cccccc;
            border-width: 1px !important;
            border-bottom-width: 0px !important;">

            {% if content_for_additional_checkout_buttons %}
              <div class="additional-checkout-buttons">
                <!-- Zapiet | Store Pickup + Delivery -->
                  {{ content_for_additional_checkout_buttons }}
                <!-- Zapiet | Store Pickup + Delivery -->
              </div>
            {% endif %}
            <button type="submit" class="action_button add_to_cart desktop" id="checkout" name="checkout">Passer ma commande</button>


            {% if section.settings.display_savings %}
              <p class="cart_savings sale">
                {% if total_saving > 0 %}
                  <span class="right">
                    <span class="money">{{ total_saving | money }}</span>
                  </span>
                  <span>{{ 'layout.general.savings' | t }}</span>
                {% endif %}
              </p>
            {% endif %}

            {% if settings.show_multiple_currencies %}
              <p>
                <small>
                  {{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}
                </small>
              </p>
            {% endif %}



            {% if settings.display_tos_checkbox %}
              <p>
                <input type="checkbox" class="tos_agree" id="cart_agree" required />
                  <label class="tos_label" for="cart_agree">
                    {{ 'cart.general.agree_to_terms_html' | t }}
                  </label>
                {% if settings.tos_page != blank %}
                  <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                {% endif %}
              </p>
            {% endif %}

            {% if section.settings.cart_message != blank %}
              <div>
                {{ section.settings.cart_message }}
              </div>
            {% endif %}


           {% if cart.item_count > 0 %}
              <div class="featured-links">
                <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}" class="arrow_before">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
              </div>
            {% endif %}

            <div class="delivery_static">
              <p class="head">FRAIS DE LIVRAISON:</p>
              <p><b>5,90€</b> pour toute commande inférieure à 45€<br>
<b>3,90€</b> pour toute commande supérieure à 45€<br>
<b>OFFERTS à partir de 80€</b><br><br>

<b>OFFERTS</b> en point de retrait (minimum d’achat de 30€)
</p>

            </div>


            {% if section.settings.display_special_instructions %}

              <textarea id="note" name="note" rows="2" maxlength="150" placeholder="Vous avez un petit commentaire à laisser, une demande spécifique ? C’est par ici. " >{{ cart.note }}</textarea>

            {% endif %}





          <p>
              <!-- Zapiet | Store Pickup + Delivery -->
			{% comment %}<div id="storePickupApp"></div>{% endcomment %}
			<!-- Zapiet | Store Pickup + Delivery -->

          </p>


          </div>

        </div>
      </div>
    </div>

    {% include 'cart-shipping-calculator' %}
    <button type="submit" class="action_button add_to_cart mobile" id="checkout" name="checkout">Passer ma commande - <span class="money" style="color: white !important">{{ cart.total_price | money }}</span></button>

  {% endif %}
  </form>
</div>

<div class="cart__blocks">
  {% for block in section.blocks %}
    <div {{ block.shopify_attributes }} class="block__{{ block.type }} block__{{ block.id }}">
      {% if block.type == 'featured_collection' %}
        {% include 'include-featured-collection', type: 'block' %}
      {% elsif block.type == 'new_form' %}
        {% include 'new_form', type: 'block' %}
      {% endif %}

    </div>
  {% endfor %}
</div>


<!-- NEWFORM -->



{% schema %}

{
  "name": "Cart page",
  "class": "cart-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_special_instructions",
      "label": "Show \"note\" text box"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show total savings",
      "default": true
    },
    {
      "type": "richtext",
      "id": "cart_message",
      "label": "Cart message"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Featured collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "You may also be interested in"
        },
        {
          "type": "checkbox",
          "id": "collection_description",
          "label": "Show collection description",
          "default": false
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "radio",
          "id": "collection_style",
          "label": "Collection layout",
          "default": "grid",
          "options": [
            {
              "value": "slider",
              "label": "Slider"
            },
            {
              "value": "grid",
              "label": "Grid"
            }
          ]
        },
        {
          "type": "range",
          "id": "products_per",
          "label": "Products per row",
          "min": 2,
          "max": 7,
          "step": 1,
          "default": 6
        },
        {
          "type": "range",
          "id": "products_limit",
          "label": "Limit products",
          "min": 2,
          "max": 50,
          "step": 1,
          "default": 6
        }
      ]
    },{
      "type": "new_form",
      "name": "Nouveau formulaire",
      "settings": [
        {
          "type": "text",
          "id": "wide_display",
          "label": "Heading",
          "default": "You may also be interested in"
        }
      ]
    }
  ]
}

{% endschema %}
