{% comment %}
** Details page - custom view **
- Page template
- Uses blocks
{% endcomment %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>

<a name="pagecontent" id="pagecontent"></a>

<div class="detail-sections">

{% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
    <div {{ block.shopify_attributes }} class="block__{{ block.type }} block__{{ block.id }}
    {% if block.type == "image_with_text_overlay" and block.settings.wide_display %}
      under-menu
    {% elsif block.type == "featured_video" and block.settings.wide_display %}
      under-menu
    {% elsif block.type == "featured_collection" %}
      featured-collection-section
    {% endif %}
    ">

      {% if block.type == "blog_posts" %}
        <!-- Blog posts -->
        {% include 'include-featured-blog', type: 'block' %}

      {% elsif block.type == "collection_list" %}
          <!-- Collection List -->
          {% include 'include-collection-list', type: 'block' %}

      {% elsif block.type == "contact_form" %}
        <!-- Contact form -->
        {% include 'include-contact-form', type: 'block' %}


      {% elsif block.type == "featured_video" %}
        <!-- Featured video -->
        {% include 'include-video', type: 'block' %}


      {% elsif block.type == 'image_gallery' %}
        <!-- Image gallery -->
        {% include 'include-gallery', type: 'block' %}

      {% elsif block.type == "image_with_text" %}
        <!-- Image with text -->
        {% if block.settings.layout == false %}
          <div class="container standard--width">
        {% endif %}
        <div class="image-with-text
          featured_collections
          clearfix across-1 image-align--{{ block.settings.frontpage_image_position }}">
          <section class="featured-link--section featured-link--image section-{{ forloop.index }}">
            <div class="featured-link--half featured-link--image {% if block.settings.layout == false %}featured-link--margin{% endif %} image-crop--{{ block.settings.image_crop }}">
              <div class="featured-link--wrap">
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title }}">
                  {% if block.settings.image %}
                    {% include 'image-element', image: block.settings.image, alt: block.settings.image.alt %}
                  {% else %}
                    {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="featured-link--half">
              <div class="info text-align--{{block.settings.frontpage_text_align}}">
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title">
                  {{ block.settings.title }}
                </a>
                <div class="subtitle">
                  {{ block.settings.subtitle }}
                </div>
                {% if block.settings.text != blank %}
                  <div class="description">{{ block.settings.text }}</div>
                {% endif %}
                {% if block.settings.button_label != blank %}
                  <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="button action_button">
                    {{ block.settings.button_label }}
                  </a>
                {% endif %}
              </div>
            </div>
          </section>
        </div>
        {% if block.settings.layout == false %}
            
          </div>
        {% endif %}

        {% if block.settings.layout == false %}
          <style>
            #shopify-section-{{ section.id }} .featured-link--section {
              margin-bottom: 3%;
            }
            @media only screen and (max-width: 480px) {
              #shopify-section-{{ section.id }} .featured-link--section {
                margin-bottom: 10%;
              }
            }

            .standard--width .featured-link--margin {
              margin-left: 0%;
              margin-right: 3%;
            }

            .standard--width .image-align--right .featured-link--margin {
              margin-left: 3%;
              margin-right: 0%;
            }

            .standard--width .featured-link--half {
              width: 45%;
            }
          </style>
        {% endif %}
      
     {% elsif block.type == 'featured_vendors' %}
     	<!-- Vendors slider -->
      	{% include 'include-vendors-slider', type: 'block' %}

      {% elsif block.type == 'map' %}
        <!-- Map -->
        {% include 'include-map', type: 'block' %}

      {% elsif block.type == 'home_reviews' %}
        <!-- Map -->
        {% include 'include-home-reviews', type: 'block' %}

      {% elsif block.type == "page" %}
        <!-- Page -->
        {% include 'include-content-page', type: 'block' %}

      {% elsif block.type == 'quote' %}
        <!-- Quote -->
        {% include 'include-quote', type: 'block' %}

      {% elsif block.type == "rich_text_and_image" %}
        <!-- Rich text and image -->
        {% include 'include-featured-text', type: 'block' %}

      {% elsif block.type == 'divider' %}
        <!-- Divider -->
        {% include 'include-divider', type: 'block' %}

      {% elsif block.type == "featured_collection" %}
        <!-- Featured collection -->
        {% include 'include-featured-collection', type: 'block' %}

      {% elsif block.type == "image_with_text_overlay" %}
        <!-- Image with text overlay -->
        {% include 'include-image-with-text-overlay', type: 'block' %}

      {% elsif block.type == "recently_viewed_products" %}
        <!-- Related Products -->
        {% include 'include-recently-viewed', type: 'block' %}

      {% elsif block.type == "custom_html" %}
        <!-- Custom HTML -->
        {% include 'include-custom-html', type: 'block' %}

      {% endif %}

    </div>
  {% endfor %}
{% endif %}
 
{% schema %}


{
  "name": "Page | details",
  "class": "page-details-section",
  "max_blocks": 20,
  "blocks": [
    {
  	  "type": "featured_vendors",
      "name": "Featured vendors",
      "settings": [
  			{
  				"type": "text",
  				"id": "slider_title",
  				"label": "Titre du slider",
  				"default": "Découvrez nos producteurs"
 			},
            {
              "type": "range",
              "id": "slider_width",
              "label": "Largeur du slider",
              "min": 70,
              "max": 90,
              "step": 5,
              "default": 90
            },
    		{
  				"type": "text",
  				"id": "slider_speed",
  				"label": "Vitesse du slider (en ms)",
  				"default": "2700"
 			},
            {
              "type": "text",
              "id": "button_text",
              "label": "Texte du bouton",
              "default": "Voir tous nos producteurs"
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "Lien du bouton"
            },
  			{
  				"type": "text",
  				"id" : "productor1",
  				"label" : "Nom du producteur 1",
  				"default" : "Producteur 1"
  			},
  
    		{
  				"type": "image_picker",
  				"id" : "productor_image1",
  				"label" : "Photo du producteur 1"
  			},
         	{
  				"type": "image_picker",
  				"id" : "logo_image1",
  				"label" : "Logo de la catégorie 1"
  			},
          	{
  				"type": "url",
  				"id" : "productor_link1",
  				"label" : "Lien du producteur 1"
  			},
            	{
  				"type": "text",
  				"id" : "productor_local1",
  				"label" : "Localisation du producteur 1",
  				"default": "Localisation du producteur 1"
  			},

  			{
  				"type": "text",
  				"id" : "productor2",
  				"label" : "Nom du producteur 2",
  				"default" : "Producteur 2"
  			},
      		{
  				"type": "image_picker",
  				"id" : "productor_image2",
  				"label" : "Photo du producteur 2"
  			},
         	{
  				"type": "image_picker",
  				"id" : "logo_image2",
  				"label" : "Logo de la catégorie 2"
  			},
        	{
  				"type": "url",
  				"id" : "productor_link2",
  				"label" : "Lien du producteur 2"
  			},
              	{
  				"type": "text",
  				"id" : "productor_local2",
  				"label" : "Localisation du producteur 2",
  				"default": "Localisation du producteur 2"
  			},
  			{
  				"type": "text",
  				"id" : "productor3",
  				"label" : "Nom du producteur 3",
  				"default" : "Producteur 3"
  			},
      		{
  				"type": "image_picker",
  				"id" : "productor_image3",
  				"label" : "Photo du producteur 3"
  			},
         	{
  				"type": "image_picker",
  				"id" : "logo_image3",
  				"label" : "Logo de la catégorie 3"
  			},
          	{
  				"type": "url",
  				"id" : "productor_link3",
  				"label" : "Lien du producteur 3"
  			},
              	{
  				"type": "text",
  				"id" : "productor_local3",
  				"label" : "Localisation du producteur 3",
  				"default": "Localisation du producteur 3"
  			},
  			{
  				"type": "text",
  				"id" : "productor4",
  				"label" : "Nom du producteur 4",
  				"default" : "Producteur 4"
  			},
      		{
  				"type": "image_picker",
  				"id" : "productor_image4",
  				"label" : "Photo du producteur 4"
  			},
         	{
  				"type": "image_picker",
  				"id" : "logo_image4",
  				"label" : "Logo de la catégorie 4"
  			},
          	{
  				"type": "url",
  				"id" : "productor_link4",
  				"label" : "Lien du producteur 4"
  			},
            {
  				"type": "text",
  				"id" : "productor_local4",
  				"label" : "Localisation du producteur 4",
  				"default": "Localisation du producteur 4"
  			},
  			{
  				"type": "text",
  				"id" : "productor5",
  				"label" : "Nom du producteur 5",
  				"default" : "Producteur"
  			},
      		{
  				"type": "image_picker",
  				"id" : "productor_image5",
  				"label" : "Photo du producteur 5"
  			},
          	{
  				"type": "image_picker",
  				"id" : "logo_image5",
  				"label" : "Logo de la catégorie 5"
  			},
          	{
  				"type": "url",
  				"id" : "productor_link5",
  				"label" : "Lien du producteur 5"
  			},
             {
  				"type": "text",
  				"id" : "productor_local5",
  				"label" : "Localisation du producteur 5",
  				"default": "Localisation du producteur 5"
  			},
  			{
  				"type": "text",
  				"id" : "productor6",
  				"label" : "Nom du producteur 6",
  				"default" : "Producteur"
  			},
      		{
  				"type": "image_picker",
  				"id" : "productor_image6",
  				"label" : "Photo du producteur 6"
  			},
        	{
  				"type": "image_picker",
  				"id" : "logo_image6",
  				"label" : "Logo de la catégorie 6"
  			},
  
          	{
  				"type": "url",
  				"id" : "productor_link6",
  				"label" : "Lien du producteur 6"
  			},
              	{
  				"type": "text",
  				"id" : "productor_local6",
  				"label" : "Localisation du producteur 6",
  				"default": "Localisation du producteur 6"
  			},
  			{
  				"type": "text",
  				"id" : "productor7",
  				"label" : "Nom du producteur 7",
  				"default" : "Producteur"
  			},
      		{
  				"type": "image_picker",
  				"id" : "productor_image7",
  				"label" : "Photo du producteur 7"
  			},
         	{
  				"type": "image_picker",
  				"id" : "logo_image7",
  				"label" : "Logo de la catégorie 7"
  			},
          	{
  				"type": "url",
  				"id" : "productor_link7",
  				"label" : "Lien du producteur 7"
  			},
              	{
  				"type": "text",
  				"id" : "productor_local7",
  				"label" : "Localisation du producteur 7",
  				"default": "Localisation du producteur 7"
  			},
  			{
  				"type": "text",
  				"id" : "productor8",
  				"label" : "Nom du producteur 8",
  				"default" : "Producteur"
  			},
      		{
  				"type": "image_picker",
  				"id" : "productor_image8",
  				"label" : "Photo du producteur 8"
  			},
         	{
  				"type": "image_picker",
  				"id" : "logo_image8",
  				"label" : "Logo de la catégorie 8"
  			},
          	{
  				"type": "url",
  				"id" : "productor_link8",
  				"label" : "Lien du producteur 8"
  			},
            {
  				"type": "text",
  				"id" : "productor_local8",
  				"label" : "Localisation du producteur 8",
  				"default": "Localisation du producteur 8"
  			}
          ]
    	},
    {
      "type": "collection_list",
      "name": "Collection list",
      "settings": [
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay slider mobile",
          "default": false
        },
        {
          "type": "range",
          "id": "col_per_row",
          "label": "Posts",
          "min": 2,
          "max": 6,
          "step": 2,
          "default": 4
        },
        {
          "type": "range",
          "id": "col_per_row_mob",
          "label": "Posts",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 2
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Je continue de faire mon marché ...",
          "info": "Les collections affichées sont à configurer avec l'app custom-fields. Il faut ajouter un metafield 'home' suivi du chiffre definissant l'ordre d'apparition 'home1' pour boucherie, 'home2' pour poissonnerie etc."
        }
      ]
    },
    {
      "type": "home_reviews",
      "name": "Avis Client Home",
      "settings": [
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay slider mobile",
          "default": false
        },
        {
          "type": "text",
          "id": "rev_title",
          "label": "Heading",
          "default": "Nos clients vous le disent",
          "info": "A définir ici"
        },
        {
          "type": "text",
          "id": "rev_button",
          "label": "Bouton"
        },
        {
          "type": "url",
          "id": "rev_link",
          "label": "Lien du bouton"
        },
        {
          "type": "range",
          "id": "stars_1",
          "label": "Etoiles",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 5
        },
        {
          "type": "text",
          "id": "text_1",
          "label": "Avis"
        },
        {
          "type": "text",
          "id": "client_1",
          "label": "Client"
        },
        {
          "type": "range",
          "id": "stars_2",
          "label": "Etoiles",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 5
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "Avis"
        },
        {
          "type": "text",
          "id": "client_2",
          "label": "Client"
        },
        {
          "type": "range",
          "id": "stars_3",
          "label": "Etoiles",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 5
        },
        {
          "type": "text",
          "id": "text_3",
          "label": "Avis"
        },
        {
          "type": "text",
          "id": "client_3",
          "label": "Client"
        }
      ]
    },
    {
      "type": "blog_posts",
      "name": "Blog posts",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Blog posts"
        },
        {
          "type": "blog",
          "id": "blog_widget_select",
          "label": "Blog"
        },
        {
          "type": "range",
          "id": "home_page_articles",
          "label": "Posts",
          "min": 2,
          "max": 4,
          "step": 1,
          "default": 3
        },
        {
          "type": "checkbox",
          "id": "blog_tags",
          "label": "Show blog post tags"
        },
        {
          "type": "checkbox",
          "id": "blog_author",
          "label": "Show author"
        },
        {
          "type": "checkbox",
          "id": "blog_date",
          "label": "Show date",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "blog_comment_count",
          "label": "Show comment count",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "read_more_link",
          "label": "Show continue reading link for blog post excerpts",
          "default": true
        }
      ]
    },
    {
      "type": "contact_form",
      "name": "Contact form",
      "settings": [
        {
          "type": "text",
          "id": "contact_heading",
          "label": "Heading",
          "default": "Get in touch"
        },
        {
          "type": "text",
          "id": "contact_subheading",
          "label": "Subheading",
          "default": "Leave a message"
        },
        {
          "type": "richtext",
          "id": "contact_content",
          "label": "Text",
          "default": "<p>Phasellus viverra nulla ut metus varius laoreet. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Etiam imperdiet imperdiet orci.</p>"
        },
        {
          "type": "select",
          "id": "contact_text_position",
          "label": "Text position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "contact_text_alignment",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "custom_html",
      "name": "Custom HTML",
      "settings": [
        {
          "type": "textarea",
          "id": "custom_html",
          "label": "Custom HTML"
        }
      ]
    },
    {
      "type": "divider",
      "name": "Divider",
      "settings": [
        {
          "type": "range",
          "id": "divider_spacing",
          "min": 0,
          "max": 30,
          "step": 5,
          "unit": "px",
          "label": "Space",
          "default": 20
        },
        {
          "type": "checkbox",
          "id": "divider_border",
          "label": "Show border",
          "default": false
        }
      ]
    },
    {
      "type": "featured_collection",
      "name": "Featured collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Featured collection"
        },
        {
          "type": "checkbox",
          "id": "collection_description",
          "label": "Show collection description",
          "default": false
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "radio",
          "id": "collection_style",
          "label": "Collection layout",
          "default": "grid",
          "options": [
            {
              "value": "slider",
              "label": "Slider"
            },
            {
              "value": "grid",
              "label": "Grid"
            }
          ]
        },
        {
          "type": "range",
          "id": "products_per",
          "label": "Products per row",
          "min": 2,
          "max": 7,
          "step": 1,
          "default": 3
        },
        {
          "type": "range",
          "id": "products_limit",
          "label": "Limit products",
          "min": 2,
          "max": 50,
          "step": 1,
          "default": 48
        }
      ]
    },
    {
      "type": "image_gallery",
      "name": "Image gallery",
      "settings": [
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay slider mobile",
          "default": false
        },
        {
          "type": "range",
          "id": "padding",
          "label": "padding",
          "min": 0,
          "max": 200,
          "step": 10,
          "default": 30
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Titre"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "subHeading",
          "default": "SousTitre"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Text"
        },
        {
          "type": "text",
          "id": "img_gly_button",
          "label": "Bouton"
        },
        {
          "type": "url",
          "id": "img_gly_btn_link",
          "label": "Lien du bouton"
        },
        {
          "type": "image_picker",
          "id": "detail_image_1",
          "label": "Image 1",
          "info": "760 x 500px recommended"
        },
        {
          "type": "text",
          "id": "title_img_1",
          "label": "Heading",
          "default": "Titre"
        },
        {
          "type": "text",
          "id": "text_img_1",
          "label": "Text",
          "default": "Text"
        },
        {
          "type": "image_picker",
          "id": "detail_image_2",
          "label": "Image 2",
          "info": "760 x 500px recommended"
        },

        {
          "type": "text",
          "id": "title_img_2",
          "label": "Heading",
          "default": "Titre"
        },
        {
          "type": "text",
          "id": "text_img_2",
          "label": "Text",
          "default": "Text"
        },
        {
          "type": "image_picker",
          "id": "detail_image_3",
          "label": "Image 3",
          "info": "760 x 500px recommended"
        },
        {
          "type": "text",
          "id": "title_img_3",
          "label": "Heading",
          "default": "Titre"
        },
        {
          "type": "text",
          "id": "text_img_3",
          "label": "Text",
          "default": "Text"
        },
        {
          "type": "image_picker",
          "id": "detail_image_4",
          "label": "Image 4",
          "info": "760 x 500px recommended"
        },
        {
          "type": "text",
          "id": "title_img_4",
          "label": "Heading",
          "default": "Titre"
        },
        {
          "type": "text",
          "id": "text_img_4",
          "label": "Text",
          "default": "Text"
        },
        {
          "type": "text",
          "id": "detail_image_link_1",
          "label": "Image 1 link for svg"
        },
        {
          "type": "text",
          "id": "detail_image_link_2",
          "label": "Image 2 link for svg"
        },
        {
          "type": "text",
          "id": "detail_image_link_3",
          "label": "Image 3 link for svg"
        },
        {
          "type": "text",
          "id": "detail_image_link_4",
          "label": "Image 4 link for svg"
        }
      ]
    },
    {
      "type": "image_with_text",
      "name": "Image with text",
      "settings": [
        {
          "type": "checkbox",
          "id": "layout",
          "label": "Wide display"
        },
        {
          "type": "select",
          "id": "frontpage_text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "frontpage_image_position",
          "label": "Image position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1024 x 1024px recommended"
        },
        {
          "type": "select",
          "id": "image_crop",
          "label": "Image cropping",
          "default": "none",
          "info": "Only applied when text area is taller than image.",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub Heading",
          "default": "Your headline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description appears here.</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View all"
        }
      ]
    },
    {
      "type": "image_with_text_overlay",
      "name": "Image with text overlay",
      "settings": [
        {
          "type": "checkbox",
          "id": "wide_display",
          "label": "Wide display",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 1000px recommended"
        },
        {
          "type": "richtext",
          "id": "pretext",
          "label": "Preheading",
          "default": "<p>This is</p>"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Text",
          "default": "<p>Customize this section</p>"
        },
        {
          "type": "checkbox",
          "id": "caption_background",
          "label": "Display solid text background",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "caption_background_transparency",
          "label": "Enable background transparency"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "button1",
          "label": "First button label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button1_link",
          "label": "First link"
        },
        {
          "type": "checkbox",
          "id": "button1_highlight",
          "label": "Highlight first button"
        },
        {
          "type": "text",
          "id": "button2",
          "label": "Second button label"
        },
        {
          "type": "url",
          "id": "button2_link",
          "label": "Second link"
        },
        {
          "type": "checkbox",
          "id": "button2_highlight",
          "label": "Highlight second button"
        }
      ]
    },
    {
      "type": "map",
      "name": "Map",
      "settings": [
        {
          "type": "checkbox",
          "id": "wide_display",
          "label": "Wide display",
          "default": true
        },
        {
          "type": "text",
          "id": "map_address",
          "label": "Address",
          "info": "Google Maps will find the exact location"
        },
        {
          "type": "range",
          "id": "map_height",
          "min": 300,
          "max": 600,
          "step": 10,
          "unit": "px",
          "label": "Map height",
          "default": 400
        },
        {
          "type": "range",
          "id": "zoom_level",
          "min": 1,
          "max": 20,
          "step": 1,
          "unit": "x",
          "label": "Map zoom level",
          "default": 16
        },
        {
          "type": "image_picker",
          "id": "map_image",
          "label": "Image",
          "info": "Displayed when map isn't loaded"
        },
        {
          "type": "header",
          "content": "API key"
        },
        {
          "type": "text",
          "id": "api_key",
          "label": "Google Maps API key",
          "info": "You’ll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map"
        },
        {
          "type": "checkbox",
          "id": "show_pin",
          "label": "Show pin",
          "info": "Requires use of API key",
          "default": true
        },
        {
          "type": "select",
          "id": "map_style",
          "label": "Map color scheme",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "aubergine",
              "label": "Aubergine"
            },
            {
              "value": "night",
              "label": "Night"
            },
            {
              "value": "retro",
              "label": "Retro"
            },
            {
              "value": "silver",
              "label": "Silver"
            }
          ],
          "default": "default",
          "info": "Requires use of API key"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Content page"
        }
      ]
    },
    {
      "type": "quote",
      "name": "Quote",
      "settings": [
        {
          "type": "text",
          "id": "quote_text",
          "label": "Text",
          "default": "40% of online shoppers abandon a site that takes more than 3 seconds to load"
        },
        {
          "type": "url",
          "id": "quote_link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "recently_viewed_products",
      "name": "Recently viewed products",
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages. [Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228)"
        },
        {
          "type": "text",
          "id": "rv_title",
          "label": "Heading",
          "default": "Recently viewed products"
        },
        {
          "type": "radio",
          "id": "rv_products_style",
          "label": "Layout",
          "default": "grid",
          "options": [
            {
              "value": "slider",
              "label": "Slider"
            },
            {
              "value": "grid",
              "label": "Grid"
            }
          ]
        },
        {
          "type": "range",
          "id": "rv_max_display",
          "label": "Products limit",
          "min": 3,
          "max": 12,
          "step": 1,
          "default": 6
        },
        {
          "type": "range",
          "id": "rv_per",
          "label": "Products per row",
          "min": 3,
          "max": 5,
          "step": 1,
          "default": 4
        }
      ]
    },

    {
      "type": "rich_text_and_image",
      "name": "Rich text and image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Talk about your brand"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers.</p><p>Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "Text size",
          "options": [
            {
              "value": "regular_text",
              "label": "Regular"
            },
            {
              "value": "featured_text",
              "label": "Large"
            }
          ],
          "default": "featured_text"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "align_left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "featured_video",
      "name": "Video",
      "settings": [
        {
          "type": "checkbox",
          "id": "wide_display",
          "label": "Wide display",
          "default": true
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "Aspect ratio",
          "options": [
            {
              "value": "16:9",
              "label": "16:9"
            },
            {
              "value": "4:3",
              "label": "4:3"
            }
          ],
          "default": "16:9"
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay video",
          "default": false,
          "info": "Limited browser support for autoplaying video. [Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/360000661568-Why-won-t-my-video-autoplay-)"
        },
        {
          "type": "checkbox",
          "id": "autoloop",
          "label": "Autoloop video",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "video_dark_overlay",
          "label": "Darken video"
        },
        {
          "type": "video_url",
          "id": "video",
          "label": "Video link",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "text",
          "id": "mp4",
          "label": "HTML5 MP4 File URL"
        },
        {
          "type": "text",
          "id": "ogv",
          "label": "HTML5 OGV File URL (optional)"
        },
        {
          "type": "header",
          "content": "Content"
        },
       {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1600 x 900px recommended"
        },
        {
          "type": "checkbox",
          "id": "display_text_over_video",
          "label": "Show text on video",
          "default": false
        },
        {
          "type": "richtext",
          "id": "pretext",
          "label": "Preheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subheading"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "checkbox",
          "id": "caption_background",
          "label": "Display solid text background"
        },
        {
          "type": "checkbox",
          "id": "caption_background_transparency",
          "label": "Enable background transparency"
        },
        {
          "type": "text",
          "id": "button1_label",
          "label": "First button label"
        },
        {
          "type": "url",
          "id": "button1_link",
          "label": "First link"
        },
        {
          "type": "checkbox",
          "id": "button1_highlight",
          "label": "Highlight first button"
        },
        {
          "type": "text",
          "id": "button2_label",
          "label": "Second button label"
        },
        {
          "type": "url",
          "id": "button2_link",
          "label": "Second link"
        },
        {
          "type": "checkbox",
          "id": "button2_highlight",
          "label": "Highlight second button"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "image_with_text_overlay",
        "settings": {
          "pretext": "<p>Introducing Your</p>",
          "title": "Page Details Template",
          "subtitle": "<p>Let's Get Started!</p>",
          "text_position": "center",
          "text_align": "center"
        }
      },
      {
        "type": "divider",
        "settings": {
          "divider_spacing": 20
        }
      },
      {
        "type": "rich_text_and_image",
        "settings": {
          "title": "Talk about your brand",
          "content": "<p>Use this text to share information about your brand with your customers.</p><p>Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      },
      {
        "type": "divider",
        "settings": {
          "divider_spacing": 10
        }
      },
      {
        "type": "featured_collection",
        "settings": {
          "collection_style": "grid",
          "products_per": 4,
          "products_limit": 8
        }
      },
      {
        "type": "divider",
        "settings": {
          "divider_spacing": 10
        }
      },
      {
        "type": "featured_video",
        "settings": {
          "autoplay": false,
          "video": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "title": "Video Section",
          "button1_label": "Play Video"
        }
      },
      {
        "type": "image_with_text",
        "settings": {
        }
      },
      {
        "type": "image_with_text",
        "settings": {
          "frontpage_image_position": "right"
        }
      },
      {
        "type": "divider",
        "settings": {
          "divider_spacing": 10
        }
      },
      {
        "type": "blog_posts",
        "settings": {
        }
      },
      {
        "type": "divider",
        "settings": {
          "divider_spacing": 10
        }
      },
      {
        "type": "contact_form",
        "settings": {
          "contact_heading": "Get in touch",
          "contact_subheading": "Leave a message",
          "contact_content": "<p>Phasellus viverra nulla ut metus varius laoreet. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Etiam imperdiet imperdiet orci.</p>",
          "contact_text_position": "left",
          "contact_text_alignment": "left"
      }
      },
      {
        "type": "divider",
        "settings": {
          "divider_spacing": 10
        }
      },
      {
        "type": "map",
        "settings": {
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      },
      {
        "type": "image_gallery",
        "settings": {
        }
      },
      {
        "type": "divider",
        "settings": {
          "divider_spacing": 20
        }
      },
      {
        "type": "quote",
        "settings": {
          "quote_text": "40% of online shoppers abandon a site that takes more than 3 seconds to load"
        }
      },
      {
        "type": "divider",
        "settings": {
          "divider_spacing": 20
        }
      }
    ]
  }
}

{% endschema %}
